* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: rgba(25, 25, 25, 1);
}

.background {
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.milanBG {
	background-image: url(../assests/index/milanBG1-12.jpg);
}

.logo {
	max-width: 120px;
	width: 100%;
	margin-left: 32px;
}

article .logo {
	position: fixed;
	top: 15px;
	z-index: 10;
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 30%;
	left: 90%; 
	z-index: 1;
}

.navigation img {
	max-width: 45px;
	margin: 15px;
}

.text_wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgba(239, 239, 239, 1);
}

.container2 {
	max-width: 280px;
}

.wrapper {
	text-align: left;
}

.red_strip {
	width: 50px; 
	height: 2px;
	margin-bottom: 10px;
	background-color: rgba(239, 78, 82, 1);
}

#milan .red_strip {
	margin-bottom: -10px;
}

h1 {
	font-weight: 900;
	font-size: 3.6em;
	font-family: 'Roboto', sans-serif;
}

.light_text {
	font-weight: 300;
	font-size: 1.2em;
	color: rgba(146, 146, 146, 1);
}

.bold_text {
	font-weight: 700;
	font-size: 1.6em;
	margin-top: 8px;
	line-height: 1.6em;
	color: rgba(239, 239, 239, 1);
}

#work {
	margin-top: -5px;
}

.workBG {
	background-image: url(../assests/index/woodBG.jpg);
}

.subHeading {
	font-weight: 700;
	font-size: 1.4em;
	line-height: 1.5em;
	letter-spacing: 4px;
	color: rgba(239, 239, 239, 1);
}

.buttons {
	height: 55px;
	margin-top: 25px;
	background-color: rgba(43, 43, 43, 1);
	border-top: 2px solid rgba(239, 78, 82, 1);
	color: rgba(238, 239, 239, 1);
	font-size: 1.2em;
	text-align: center;
	padding: 14px;
}

.buttons:hover {
	background-color: rgba(239, 78, 82, 0.75);
	color: rgba(239, 239, 239, 1);
}

#rent {
	margin-top: -5px;
}

.rentBG {
	background-image: url(../assests/index/studioBG.jpg);
}

.contactBG {
	background-image: url(../assests/index/contactBG_1.jpg);
}

#nooneMap {
	background-color: rgba(25, 25, 25, 1);
	position: relative;
}

#map {
	max-width: 1280px;
	width: 100%;
	height: 100vh;
}

#footer {
	margin-top: -60px;
	background-color: rgba(25, 25, 25, 1);
	border-top: 1px solid rgba(239, 239, 239, 1);
}

.footerBG {
	display: flex;
	justify-content: space-between;
	margin: 0 10%;
	padding: 20px 0;
	background-color: rgba(25, 25, 25, 1);
}

.footer_text {
	color: rgba(239, 239, 239, 1);
	font-size: 1em;
	font-weight: 300;
}

span {
	color: rgba(239, 78, 82, 1);
}

.redLinks {
	color: rgba(239, 78, 82, 1);
}

/*** WORKS ***/

a {
	text-decoration: none;
}

.header {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(25, 25, 25, 0);
	z-index: 10;
}

.workContainer {
	width: 100%;
	height: auto;
	background-color: rgba(25, 25, 25, 1);
}

.workSubcontainer {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.workSubcontainer_inside {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
	max-width: 1000px;
	width: 100%;
}

.workImgs {
	max-width: 290px;
	width: 100%;
	height: 200px; 
	margin: 15px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.salti {
	background-image: url(../assests/works/4salti.jpg);
}

.campariPassion {
	background-image: url(../assests/works/campari_passion.jpg);
}

.campariCocktails {
	background-image: url(../assests/works/campari_cocktails.jpg);
}

.campariEnjoy {
	background-image: url(../assests/works/campari_enjoy.jpg);
}

.natevo {
	background-image: url(../assests/works/natevo.jpg);
}

.allegrini {
	background-image: url(../assests/works/allegrini.jpg);
}

.rayban {
	background-image: url(../assests/works/rayban.jpg);
}

.raybanTryon {
	background-image: url(../assests/works/raybanTryon.jpg);
}

.bond {
	background-image: url(../assests/works/bond.jpg);
}

.flouShowroom {
	background-image: url(../assests/works/flouShowroom.jpg);
}

.flouWebsite {
	background-image: url(../assests/works/flouWebsite.jpg);
}

.flouConfigurator {
	background-image: url(../assests/works/flouConfigurator.jpg);
}

.flouWardrobeConfigurator {
	background-image: url(../assests/works/flouWardrobeConfigurator.jpg);
}

.flouInterviews {
	background-image: url(../assests/works/flouInterviews.jpg);
}

.motion4 {
	background-image: url(../assests/works/motion4.jpg);
}

.flouSdM2017 {
	background-image: url(../assests/works/flouSdM2017.jpg);
}

.flouBandW {
	background-image: url(../assests/works/FlouBW.jpg);
}

.oscar {
	background-image: url(../assests/works/oscar697.jpg);
}

.samsung {
	background-image: url(../assests/works/samsung.jpg);
}

.martini {
	background-image: url(../assests/works/martini.jpg);
}

.miaBag {
	background-image: url(../assests/works/miabag.jpg);
}

.gazza {
	background-image: url(../assests/works/gazzettastore.jpg);
}

.workHeading {
	height: 55px;
	background-color: rgba(25, 25, 25, 0.9);
	font-size: 1em;
	color: rgba(247, 247, 247, 1);
	border-top: 2px solid rgba(239, 78, 82, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 145px;
}

.workText {
	font-size: 0.9em;
	font-weight: 300;
	color: rgba(146, 146, 146, 1);
}

.backArrow {
	max-width: 45px;
	width: 100%;
	margin-right: 50px;
}

.clientContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.clientSubContainer {
	max-width: 930px;
	width: 100%;
	margin: 40px 15px 0 15px;
}

.clients {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.clientlogos {
	max-width: 170px;
	width: 100%;
	margin: 17px 23px;
	opacity: 0.4;
}

/*** WORK DESCRIPTION PAGE ***/

.closeButton {
	max-width: 40px;
	width: 100%;
	margin-right: 50px;
}

.white {
	display: none;
}

.projectContainer {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.projectDescription {
	width: 40%;
	background-color: rgba(25, 25, 25, 1);
}

.left_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 40%;
	text-align: justify;
	width: 100%;
	padding: 150px 40px 0 40px;	
}

.projectDescription .red_strip {
	width: 40px;
	height: 2px;
	background-color: rgba(239, 78, 82, 1);
}

h2 {
	font-weight: 700;
	font-size: 1.4em;
	letter-spacing: 4px;
	color: rgba(212, 212, 212, 1);
}

.normal_text {
	font-weight: 300;
	font-size: 0.9em;
	color: rgba(136, 136, 136, 1);
}

.projectWork {
	width: 60%;
	background-color: rgba(25, 25, 25, 1);
}

.whiteBG {
	background-color: rgba(255, 255, 255, 1);
}

.miaBG {
	background-color: rgba(231, 230, 221, 1);
}

.projectwork_sub {
	padding-top: 85px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.projectImgs {
	max-width: 650px;
	width: 100%;
	margin: 70px 20px 0px 20px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	height: 0;
	overflow: hidden;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lastImage {
	margin-bottom: 60px;
}

.shadow {
	box-shadow: 0px 0px 38px -7px rgba(0,0,0,0.2);
}

/*** RENTAL ***/

.rentalContainer {
	width: 100%;
	height: 100%;
}

.rentalContainer .header {
	background-color: rgba(0, 0, 0, 0);
}

.rentalSubcontainer {
	display: flex;
	flex-direction: row;
}

.rental_content {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rentalSubcontainer_left {
	width: 50%;
	height: 100vh;
	background-image: url(../assests/rental/studio_01.jpg);
}

.rentalSubcontainer_right {
	width: 50%;
	height: 100vh;
	background-image: url(../assests/rental/cameraEquipments-13.jpg);
}

.rental_content h2 {
	text-align: left;
	max-width: 280px;
}

.rentalSubcontainer p {
	max-width: 280px;
	text-align: left;
	color: rgba(186, 186, 186, 1);
	font-weight: 300;
	font-size: 1.1em;
	margin-top: 25px;
}

.rental_content .buttons {
	max-width: 280px;
	width: 100%;
}
	
@media (min-width: 1280px) {
	/** INDEX **/
	
	.logo {
		max-width: 160px;
		margin-left: 30px;
	}

	.navigation { 
		top: 33.5%;
	}
	
	.navigation img {
		max-width: 50px;
		margin: 18px;
	}
	
	h1 {
		font-size: 4.6em;
	}

	.light_text {
		font-size: 1.5em;
	}

	.bold_text {
		font-size: 1.8em;
	}

	.subHeading {
		font-size: 1.7em;
	}

	.buttons {
		font-size: 1.3em;
		padding: 11px;
	}
	
	#map {
		max-width: 1920px;
		height: 100vh;
	}
	
	/*** WORKS ***/
	
	.workSubcontainer_inside {
		padding-top: 170px;
		max-width: 1500px;
	}

	.workImgs {
		max-width: 400px;
		height: 300px; 
		margin: 18px;
	}

	.workHeading {
		height: 60px;
		font-size: 1.2em;
		top: 240px;
	}

	.workText {
		font-size: 1em;
	}

	.backArrow {
		max-width: 60px;
		margin-right: 45px;
		margin-top: 35px;
	}

	.clientSubContainer {
		max-width: 1280px;
		margin: 60px 15px 0 15px;
	}

	.clientlogos {
		max-width: 220px;
		width: 100%;
		margin: 20px 26px;
		opacity: 0.4;
	}
	
	/*** WORK DESCRIPTION PAGE ***/

	.closeButton {
		max-width: 50px;
		margin-right: 45px;
	}

	.left_wrapper {
		text-align: justify;
		max-width: 40%;
		padding: 190px 100px 25px 100px;
	}

	h2 {
		font-size: 1.7em;
	}

	.normal_text {
		font-size: 1.14em;
	}

	.projectwork_sub {
		padding-top: 120px;
	}

	.projectImgs {
		max-width: 85%;
	}
	
	/*** RENTAL ***/

	.rental_content h2 {
		max-width: 300px;
	}

	.rentalSubcontainer p {
		max-width: 300px;
		font-size: 1.2em;
		margin-top: 30px;
	}

	.rental_content .buttons {
		max-width: 300px;
	}
}

@media (max-width: 1024px) {
	
	/** INDEX **/
	
	.logo {
		margin-left: 30px;
	}

	.navigation {
		top: 32%;
		left: 87%; 
	}

	h1 {
		font-size: 3.6em;
	}

	.light_text {
		font-size: 1.3em;
	}

	.bold_text {
		font-size: 1.7em;
	}

	.subHeading {
		font-size: 1.5em;
	}

	.buttons {
		font-size: 1.1em;
		padding: 16px;
	}

	.buttons:hover {
		background-color: rgba(43, 43, 43, 1);
	}
	
	/** work description **/

	.projectContainer {
		flex-direction: column;
	}

	.projectDescription {
		width: 100%;
	}

	.left_wrapper {
		position: relative;
		text-align: left;
		max-width: 550px;
		padding: 150px 26px 26px 40px;
	}

	.normal_text {
		font-size: 0.9em;
	}

	.projectWork {
		width: 100%;
	}

	.projectwork_sub {
		padding-top: 1px;
		box-shadow: -1px -4px 12px -4px rgba(0,0,0,1);
	}

	.projectImgs {
		max-width: 720px;
	}
	
	/** WORKS **/

	.workSubcontainer_inside {
		max-width: 768px;
	}

	.workImgs {
		max-width: 320px;
		margin: 18px;
	}

	.clientSubContainer {
		max-width: 682px;
		margin: 50px 15px 0 15px;
	}
	
	.emptyLast {
		display: none;
	}
	
	/** work description page **/
	
	.white {
		display: block;
	}
	
	.black {
		display: none;
	}
	
	/*** RENTAL ***/

	.rentalSubcontainer {
		display: flex;
		flex-direction: column;
	}

	.rentalSubcontainer_left {
		width: 100%;
	}

	.rentalSubcontainer_right {
		width: 100%;
		margin-top: -3px;
	}
}

@media (max-width: 768px) {
	
	/** INDEX **/

	.navigation {
		top: 32%;
		left: 87%; 
	}
	
	.navigation img {
		margin: 13px;
		max-width: 35px;
	}

	.container2 {
		max-width: 210px;
	}

	h1 {
		font-size: 3.6em;
	}

	.light_text {
		font-size: 1.2em;
	}

	.bold_text {
		font-size: 1.6em;
	}

	.subHeading {
		font-size: 1.4em;
	}
	
	.footerBG {
		margin: 0 16px;
	}

	.footer_text {
		font-size: 0.85em;
	}
	
	#footer .normal_text {
		font-size: 0.85em;
	}

	/** work description **/

	.left_wrapper {
		max-width: 414px;
	}

	.projectImgs {
		max-width: 600px;
	}
	
	/** WORKS **/

	.workImgs {
		max-width: 280px;
		margin: 15px;
	}

	.clientSubContainer {
		max-width: 600px;
		margin: 50px 15px 0 15px;
	}

	.clientlogos {
		max-width: 160px;
	}
	
	.emptyLast {
		display: none;
	}
	
	/* RENTAL */
	
	.rentalSubcontainer p {
		font-size: 1.2em;
	}
	
	.backArrow {
		max-width: 40px;
		margin-right: 40px;
	}
}

@media (max-width: 616px) {
	
	.buttons {
		font-size: 1em;
	}
	
	/** WORKS **/

	.workImgs {
		max-width: 380px;
		margin: 15px;
	}
	
	.clientSubContainer {
		max-width: 380px;
		margin: 50px 15px 0 15px;
	}
	
	.empty {
		display: none;
	}
	
}

@media (max-width: 414px) {

	
	.header {
		height: 120px;
	}
	
	/*** INDEX ***/
	
	.logo {
		max-width: 80px;
		margin-left: 15px;
	}
	
	.navigation {
		top: 33%;
		left: 80%;
	}

	.navigation img {
		margin: 10px;
		max-width: 30px;
	}

	.container2 {
		max-width: 160px;
	}
	
	.red_strip {
		width: 30px;
	}
	
	h1 {
		font-size: 2.5em;
		margin-top: 8px;
	}

	.light_text {
		font-size: 1em;
	}

	.bold_text {
		font-size: 1.2em;
	}

	.subHeading {
		font-size: 1.1em;
	}

	.buttons {
		height: 45px;
		margin-top: 20px;
		font-size: 0.9em;
		padding: 13px;
	}
	
	#contact {
		margin-top: -7px;
	}
	
	.footerBG {
		margin: 0 10px;
		padding: 20px 0;
	}

	.footer_text {
		font-size: 0.75em;
	}
	
	#footer .normal_text {
		font-size: 0.75em;
	}
	
	/** work description **/

	.closeButton {
		max-width: 35px;
		margin-right: 25px;
	}
	
	.left_wrapper {
		max-width: 320px;
		padding: 120px 20px 20px 23px;
	}

	.projectImgs {
		max-width: 340px;
		margin: 25px 0px 0px 0px;
	}
	
	/** WORKS **/
	
	.workSubcontainer_inside {
		padding-top: 120px;
	}
	
	.workImgs {
		max-width: 320px;
		margin: 10px;
	}

	.clientSubContainer {
		max-width: 320px;
	}

	.clientlogos {
		max-width: 160px;
		margin: 5px;
	}
	
	/** RENTAL **/
	
	.rental_content h2 {
		max-width: 250px;
	}

	.rentalSubcontainer p {
		max-width: 250px;
		margin-top: 10px;
	}

	.rental_content .buttons {
		max-width: 250px;
	}
	
	.backArrow {
		max-width: 33px;
		margin-right: 25px;
	}
} 

@media (max-width: 320px) {
	
	/** INDEX **/
	
	.logo {
		max-width: 65px;
		margin-left: 15px;
	}
	
	.navigation img {
		margin: 10px;
		max-width: 30px;
	}

	.container2 {
		max-width: 160px;
	}
	
	.red_strip {
		width: 30px;
	}
	
	h1 {
		font-size: 2.4em;
		margin-top: 8px;
	}

	.light_text {
		font-size: 0.9em;
	}

	.bold_text {
		font-size: 1.05em;
	}

	.subHeading {
		font-size: 1.1em;
	}

	.buttons {
		margin-top: 15px;
		font-size: 0.9em;
	}
	
	.footerBG {
		margin: 0 5px;
	}

	.footer_text {
		font-size: 0.6em;
	}
	
	#footer .normal_text {
		font-size: 0.6em;
	}
	
	/** work description **/
	
	.left_wrapper {
		max-width: 320px;
		font-size: 0.8em;
	}
	
	/** WORKS **/

	.workImgs {
		max-width: 320px;
		margin: 5px 10px;
	}

	.clientSubContainer {
		max-width: 295px;
	}

	.clientlogos {
		max-width: 170px;
		margin: 1px;
	}
	
	/** RENTAL **/
	
	.rental_content h2 {
		max-width: 220px;
	}

	.rentalSubcontainer p {
		max-width: 220px;
		font-size: 1em;
		margin-top: 10px;
	}

	.rental_content .buttons {
		max-width: 220px;
	}
}

